@model AutomationOfWithdrawalBookletCharges.ViewModel.CustomerViewModel
@{
    ViewBag.Title = "Profile";
}
<div class="row row-content-section">
    <div class="col-md-12">
        <div class="well form-horizontal col-md-4 col-md-offset-4">
            <fieldset>              
                    <div class="col-md-12 text-center ubn-color">
                        <h4> @ViewBag.Message</h4>
                        <div class="col-md-4 col-md-offset-4">
                            @Html.ActionLink("Back", "Index", "HssaDetails", null, new { @class = "btn btn-md ubn-color-bg white-bar" })
                            
                        </div>
                    </div>
            </fieldset>
        </div>
    </div>
</div>


