body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 2%;
    padding-right: 2%;
    margin-top:2%;
    width: 100%;
}

/* Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.margin-top-20 {
    margin-top: 20px;
}

.body-with-bg {
    background: #00ADEF url("Images/bg.jpg") no-repeat center top fixed;
    background-size: cover;
}

.login-panel {
    margin-top: 25%;
}

.modal-scroll-body{
  height: 350px;
  overflow-y: auto;
}

.navbar-fixed-top {
    background-color:#00adef;
    border:0;
}

.navbar-brand, .white-bar {
    color:#FFF !important;
}
.row-content-section{
    margin-top:5%
}

.ubn-color{
    color:#00adef;
}
.ubn-color-bg{
    background-color:#00adef;
}

.page-footer{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1px;
  background-color: #efefef;
  /*text-align: center;*/

}